<html>
<head>
    <title>Library Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Library Management System</h1>

        <div class="actions-section">
            <h2>Actions</h2>
            <ul>
                <li><a href="{{ url_for('add_book_form') }}">Add Book</a></li>
                <li><a href="{{ url_for('add_user_form') }}">Add User</a></li>
                <li><a href="{{ url_for('display_all_books') }}">Display All Books</a></li>
                <li><a href="{{ url_for('display_all_users') }}">Display All Users</a></li>
                <li><a href="{{ url_for('borrow_book_form') }}">Borrow Book</a></li>
                <li><a href="{{ url_for('return_book_form') }}">Return Book</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
